div.sidebar {
  h1 {
    font-size: 27px;
  }
  nav.navbar {
    display: flex;
    .profile {
      img {
      }
      .text {
        h3 {
          font-size: 18px;
        }
        span {
          font-weight: 500;
        }
      }
    }
    .controls {
      display: flex;
      flex-direction: column;
      gap: 5px;
      div.d-flex {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        justify-content: space-between;
        width: 230px;
        cursor: pointer;
        padding: 10px;
        padding-left: 0;
        &:hover,
        &.active {
          background-color: #fff;
          h3,
          svg {
            color: var(--primary) !important;
          }
        }
        > div {
          gap: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          div {
            height: 38px;
            width: 38px;
            background-color: #fff;
            border-radius: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
            }
          }
          h3 {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (max-width: 940px) {
  nav {
    display: none !important;
  }
}
